  {% extends 'base.html.twig' %}
 {% block body %}
    <h1>Liste des commandes par Editeur</h1>

    <table class='table table-bordered table-responsive-md'>
        <tr>
            
        <th class="table-danger">Date_achat</th>
        <th class="table-danger">Prix_achat</th>
        <th class="table-danger">Nbr_exemplaires</th>
        <th class="table-danger">Code_fournisseur</th>
        <th class="table-danger">Raison_sociale</th>
        <th class="table-danger">Pays</th>
        <th class="table-danger">Titre_livre</th>
        <th class="table-danger">Theme_livre</th>
        <th class="table-danger">Nom_auteur</th>
        <th class="table-danger">Prenom_auteur</th>
        <th class="table-danger">Editeur</th>
         <th class="table-danger">idUtilisateur</th>   

         
        
        </tr>
        {% for commande in commandes %} 
       <tr>
        <td  class="table-primary"t> {{commande.getDateAchat()|date('Y-m-d') }} </td>  
        <td  class="table-primary"t> {{commande.getPrixAchat() }} </td> 
        <td  class="table-primary"t> {{commande.getNbrExemplaires() }} </td> 
         <td  class="table-primary"t> {{commande.getIdLivre().getTitreLivre() }} </td> 
         <td  class="table-primary"t> {{commande.getIdLivre().getThemelivre() }} </td> 
         <td  class="table-primary"t> {{commande.getIdLivre().getNomauteur() }} </td> 
         <td  class="table-primary"t> {{commande.getIdLivre().getPrenomauteur() }} </td> 
         <td  class="table-primary"t> {{commande.getIdLivre().Editeur() }} </td> 
         <td  class="table-primary"t> {{commande.getIdfournisseur().getCodefournisseur() }} </td> 
         <td  class="table-primary"t> {{commande.getIdfournisseur().getRaisonsociale() }} </td> 
         <td  class="table-primary"t> {{commande.getIdfournisseur().getPays() }} </td>  
         
           <td class="table-primary"t> {{commande.getIdUtilisateur().getPrenom()}} </td>    
    
            
                
        </tr>
    {% endfor %}
  </table>   

{% endblock %}