{% extends 'base.html.twig' %}


{% block title %}LIVRES{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


    <h1>Liste des livres</h1>

    <table class='table table-bordered table-responsive-md'>
	<tr>
		<th class="table-danger">ISBN</th>
		<th class="table-danger">Titre</th>
		<th class="table-danger">Theme</th>
		<th class="table-danger">Nbr_pages</th>
		<th class="table-danger">Format</th>
		<th class="table-danger">Nom_auteur</th>
		<th class="table-danger">Prenom_auteur</th>
		<th class="table-danger">Editeur</th>
		<th class="table-danger">Annee_edition</th>
		<th class="table-danger">Prix_vente</th>
		<th class="table-danger">Langue_livre</th>
	</tr>

    {% for livre in livres %}
    
   	<tr>
		<td class="table-primary">{{livre.getIsbn()}}</td>
		<td class="table-primary">{{livre.getTitreLivre()}}</td>
		<td class="table-primary">{{livre.getThemeLivre()}}</td>
		<td class="table-primary">{{livre.getNbrpagesLivre()}}</td>
		<td class="table-primary">{{livre.getFormatLivre()}}</td>
		<td class="table-primary">{{livre.getNomauteur()}}</td>
		<td class="table-primary">{{livre.getPrenomauteur()}}</td>
		<td class="table-primary">{{livre.getEditeur()}}</td>
		<td class="table-primary">{{livre.getAnneeedition()}}</td>
		<td class="table-primary">{{livre.getPrixVente()}}</td>
		<td class="table-primary">{{livre.getLangueLivre()}}</td>
	
    </tr>

    {% endfor %}

{% endblock %}
